body{ 
    background-image: url("bgimage.png");
    background-size: cover; 
}

.video_selector{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -999;
}

div{
    background: -moz-repeating-linear-gradient;
    background-position: center;
    backface-visibility: hidden;
    text-align: center;
}

.button {
    border:rgb(0, 0, 0);
    color: rgb(0, 153, 255);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: transparent;
}

.button1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    position: relative;
    transition-duration: 0.25s;
    
    
  }
  
  .button1:hover {
    background-color: turquoise;
    color: black;
  }
  
  .button2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    position: relative;
    transition-duration: 0.25s;
  }
  
  .button2:hover {
    background-color: turquoise;
    color: black;
  }

img {
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  background: url("bgimage.png");
  background-position: left top;
  background-repeat: repeat;
  padding: 0px;
  width: 15%;
  height: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;

  }

        